* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* nav bar code*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f4b400;
}

.nav-links {
  display: none;
}

/* responsive nav  */

@media(min-width:768px) {

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 25px;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  .nav-links a:hover {
    color: #f4b400;
  }

}

/* page1-code */
.hero {
  min-height: 100vh;
  display: flex;
  background: url(./Images/0ac0ccb8807371350bfdf782cbfc919a.jpg);
  background-image: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 80px;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #f4b400;
  color: #000;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #e0a800;
}

/* page1 responsive */

@media(min-width:768px) {
  .hero {
    height: 100vh;
    background-image: cover;
    background-position: center;
  }

}