* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #fff;
}

/* nav bar code*/
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 40px;
  background: #111;
  color: #fff;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 1000;
}

.logo {
  font-size: 24px;
  font-weight: bold;
  color: #f4b400;
}

.nav-links {
  display: none;
}

/* responsive nav  */

@media(min-width:768px) {

  .menu-toggle {
    display: none;
  }

  .nav-links {
    display: flex;
    gap: 25px;
  }

  .nav-links a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
  }

  .nav-links a:hover {
    color: #f4b400;
  }

}

/* page1-code */
.hero {
  min-height: 100vh;
  display: flex;
  background: url(./Images/background.jpg);
  background-image: cover;
  background-position: center;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  padding-top: 80px;
}

.hero-content {
  background: rgba(0, 0, 0, 0.6);
  padding: 40px;
  border-radius: 10px;
}

.hero h1 {
  font-size: 42px;
  margin-bottom: 15px;
}

.hero p {
  font-size: 18px;
  margin-bottom: 25px;
}

.btn {
  background: #f4b400;
  color: #000;
  padding: 12px 25px;
  border-radius: 6px;
  text-decoration: none;
  font-weight: bold;
}

.btn:hover {
  background: #e0a800;
}

/* page1 responsive */

@media(min-width:768px) {
  .hero {
    height: 100vh;
    background-image: cover;
    background-position: center;
  }

}

/* servie page */

.menu-section {
  padding: 120px 40px 60px;
  text-align: center;
}

.menu-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.menu-section p {
  color: #666;
  margin-bottom: 40px;
}

.menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  gap: 20px;
}

.menu-card {
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  transition: 0.3s;
  padding: 30px;
}

.menu-card:hover {
  transform: translateY(-5px);
}

.menu-card img {
  width: 100%;
  height: 160px;
  object-fit: cover;
}

.menu-card h3 {
  margin: 15px 0 5px;
}

.menu-card p {
  font-size: 14px;
  padding: 0 15px;
}

.menu-card span {
  display: block;
  margin: 10px 0 15px;
  font-weight: bold;
  color: #f4b400;
}


/* service page responsive  */

@media (min-width:768px) {

  .menu {
    display: flex;
    flex-direction: row;
  }
}

/* booking page code */

.booking-section {
  padding: 120px 20px 60px;
  text-align: center;
}

.booking-section h2 {
  font-size: 36px;
  margin-bottom: 10px;
}

.booking-section p {
  color: #666;
  margin-bottom: 30px;
}

.booking-form {
  max-width: 450px;
  margin: auto;
  background-color: gray;
  padding: 30px;
  border-radius: 10px;
  border: 2px solid black;
}

.form-group {
  margin-bottom: 15px;
}

.form-group input {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

.form-group select {
  width: 100%;
  padding: 12px;
  border-radius: 5px;
  border: 1px solid #ccc;
}